.database-container {
    padding: 34px 48px;
}

.database-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.database-title {
    color: #424242;
    font-weight: 600;
    padding-bottom: 18px;
}