.App-header {
	background-color: #ffffff;
	padding: 24px;
	display: flex;
	justify-content: flex-end;
	box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
}

.App-header a {
	text-decoration: none;
	color: #757575;
	display: flex;
	align-items: center;
	padding-left: 24px;
}

.App-header a:hover .fas.fa-database, .App-header a:hover .fas.fa-user-circle {
	text-decoration: none;
	color: #616161;
}

.App-header .fas.fa-database, .App-header .fas.fa-user-circle {
	color: #757575;
	font-size: 20px;
	padding-right: 12px;
}